{% extends "base.html" %}

{% block title %}Macbee{% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>Camera</h1>
</div>

    <div class="container">
        <div class="row">
            <ul>
                <li> Camera: {{ "ON" if camera_on else "OFF" }} </li>
                <li> Recording {{ "ON" if rec else "OFF" }} </li>
            </ul>
        </div>
        <div class="row">
            <p><form method="post" action="/set_leds">
                <table>
                    <tr>
                        <td>LEDs:</td>
                        <td>&nbsp;
                            <input type="checkbox" id="led1" name="led1" {% if led1 %} checked {% endif %}>
                            <label for="led1">LED1</label></td>
                        <td>&nbsp;
                            <input type="checkbox" id="led2" name="led2" {% if led2 %} checked {% endif %}>
                            <label for="led2">LED2</label></td>
                        <td>&nbsp;
                            <input type="checkbox" id="led3" name="led3" {% if led3 %} checked {% endif %}> 
                            <label for="led3">LED3</label></td>
                        <td>&nbsp;
                            <input type="checkbox" id="led4" name="led4" {% if led4 %} checked {% endif %}>
                            <label for="led4">LED4</label></td>
                        <td>&nbsp;
                            <input type="submit" name="set_leds" value="Set LEDs"></td>
                    </tr>
                </table>
            </form>
            </p>
                <form method="post" action="{{ url_for('cam.tasks') }}">
                    <p>
                        {% if camera_on%}
			                  <input type="submit" value="Stop View" name="stop" />
                        {% else %}
                        <input type="submit" value="View Camera" name="start" />
                        {% endif %}

                        {% if rec %}

			                  <input type="submit" value="Stop Recording" name="rec_stop" />

                        {% else %}

			                  <input type="submit" value="Capture" name="click"/>

                        {% if grey %}
			                  <input type="submit" value="Color" name="color" />
                        {% else %}
			                  <input type="submit" value="Grey" name="grey" />
                        {% endif %}

                        {% if neg %}
			                  <input type="submit" value="Positive" name="pos" />
                        {% else %}
			                  <input type="submit" value="Negative" name="neg" />
                        {% endif %}

			                  <input type="submit" value="Start Recording" name="rec_start" />
                        {% endif %}
                    </p>
			          </form>
                <br>
                {% if camera_on %}
                <img src="{{ url_for('cam.video_feed') }}" height="80%">
                {% else %}
                <img src="{{ current_user.gravatar() }}">
                {% endif %}
        </div>
    </div>
    <script src="{{url_for('static', filename='led_check.js')}}"></script>
    {% endblock %}
