{% extends "base.html" %}

{% block title %}Macbee{% endblock %}

{% block page_content %}

<div class="page-header">
    <h1>Tabela dos Valores do Campo Magnético</h1>
</div>

<table class="cssTable" border="1">
    <tr>
        <th>Tensão no Knob (V)</td>
        <th>Corrente eficaz (A)</td>
        <th> Densidade de Campo Magnético (Gauss) </td>
    </tr>
    <tr>
        <td> 25 </td>
        <td> 0,347 </td>
        <td> </td>
    </tr>
    <tr>
        <td> 50 </td>
        <td> 0,625 </td>
        <td> </td>
    </tr>
    <tr>
        <td> 75 </td>
        <td> 0,90 </td>
        <td> </td>
    </tr>
    <tr>
        <td> 100 </td>
        <td> 1,19 </td>
        <td> </td>
    </tr>
    <tr>
        <td> 125 </td>
        <td> 1,51 </td>
        <td> </td>
    </tr>
    <tr>
        <td> 150 </td>
        <td> 1,84 </td>
        <td> </td>
    </tr>
    <tr>
        <td> 175 </td>
        <td> 2,22 </td>
        <td> </td>
    </tr>
    <tr>
        <td> 200 </td>
        <td> 2,61 </td>
        <td> </td>
    </tr>
    <tr>
        <td> 225 </td>
        <td> 3,0 </td>
        <td> </td>
    </tr>
    <tr>
        <td> MAX </td>
        <td> 3,25 </td>
        <td> </td>
    </tr>
</table>
    {% endblock %}
